.btn {
    /* background-color: #2f3b52; */
    background-color: #8f257f;
    border: 1px solid #8f257f;
    border-radius: 16px;
    width: 100%;
    padding: 20px;
    color: #ffff;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;

}

@media (min-width:1200px) {
    .btn:hover {
        color: #8f257f;
        background-color: #ffff;
        
    }
}