/* HOme Page */
.port-setting {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.setting-wrapp {
  width: 60%;
}

.param-wrapp {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.method-wrapp,
.info-wrapp {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0px 0px 8px 0px #2f3b52;
}

.method-wrapp {
  width: 40%;
  margin-right: 20px;
}
.info-wrapp{
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;

}

.info-title{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.info-list-item{
  margin-bottom: 6px;
}